node_red_nodes.txt
[{"id":"d9c57be5.8cd228","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"455b8cae.895b14","type":"http request","z":"d9c57be5.8cd228","name":"Awattar","method":"GET","ret":"obj","url":"","tls":"","x":376.00001525878906,"y":120.00000286102295,"wires":[["a8774a1b.7ffbd8"]]},{"id":"4d3fb7f1.d5b278","type":"inject","z":"d9c57be5.8cd228","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["56c2b8bb.80a928"]]},{"id":"a8774a1b.7ffbd8","type":"function","z":"d9c57be5.8cd228","name":"sort by price","func":"msg.payload.data = msg.payload.data.sort(compare);\nreturn msg;\n\nfunction compare(a,b) {\n  if (a.marketprice < b.marketprice)\n    return -1;\n  if (a.marketprice > b.marketprice)\n    return 1;\n  return 0;\n}","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["abba80ae.e94c2"]]},{"id":"abba80ae.e94c2","type":"function","z":"d9c57be5.8cd228","name":"find best charging times","func":"var bestTimes = [];\n\nfor (i = 0; i<msg.payload.data.length; i++) {\n    start_date = new Date(msg.payload.data[i].start_timestamp);\n    end_date = new Date(msg.payload.data[i].end_timestamp);\n    msg.payload.data[i].start_date = start_date;\n    msg.payload.data[i].end_date = end_date;\n    if (start_date.getHours() < 8 || start_date.getHours() >= new Date().getHours()) {\n        if (bestTimes.length <= 5){\n            bestTimes.push(msg.payload.data[i])\n        }\n    }\n}\nflow.set(\"bestTimes\", bestTimes);\nmsg.payload = bestTimes;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":260,"wires":[["8be9bb01.ff20b8"]]},{"id":"8be9bb01.ff20b8","type":"debug","z":"d9c57be5.8cd228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":260,"wires":[]},{"id":"63e85ffd.95fad","type":"inject","z":"d9c57be5.8cd228","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["b6bee02c.2db95"]]},{"id":"b6bee02c.2db95","type":"function","z":"d9c57be5.8cd228","name":"switch on?","func":"bestTimes = flow.get(\"bestTimes\");\nnow = new Date().getTime();\nswitchon = false;\n\nfor (i = 0; i< bestTimes.length; i++) {\n    if (now > bestTimes[i].start_timestamp && now < bestTimes[i].end_timestamp) {\n        switchon = true;\n    }\n}\n//msg.payload = switchon;\nmsg.payload = switchon;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":460,"wires":[["666f15e0.822a4c"]]},{"id":"edf83177.e5a7d","type":"debug","z":"d9c57be5.8cd228","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":650,"y":380,"wires":[]},{"id":"666f15e0.822a4c","type":"smartplug-out","z":"d9c57be5.8cd228","name":"Garage","topic":"","device":"34afa308.752f0c","response":true,"x":660,"y":460,"wires":[["edf83177.e5a7d"]]},{"id":"56c2b8bb.80a928","type":"function","z":"d9c57be5.8cd228","name":"get current time","func":"msg.time = (new Date().getTime() - (1*60*60*1000)).toString();\nmsg.endtime = (new Date().getTime() + (24*60*60*1000)).toString();\nmsg.url = \"https://api.awattar.com/v1/marketdata?start=\"+ msg.time + \"&end=\" + msg.endtime\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["455b8cae.895b14"]]},{"id":"34afa308.752f0c","type":"smartplug-device","z":"","name":"Garage","host":"192.168.178.83","timeout":"10","heartbeat":"5"}]
